.container {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: auto;
    text-align: center;
}

.buttons {
    display: flex;
    justify-content: center;
    align-items: center;
}
button {
    margin: 10px 20px
}